extracted_features/test_mnist.pkl
extracted_features/training_mnist.pkl
model_save/avg_precision_test_set.pkl
model_save/histogram_of_precisions.png
model_save/histogram_of_precisions.svg
model_save/vit_model_0404.pt
sbatch_log/%extract_features_j.out
sbatch_log/684565.out
sbatch_log/684567.out
sbatch_log/684572.out
sbatch_log/684595.out
sbatch_log/684596.out
sbatch_log/extract_features_684785.out
sbatch_log/extract_features_684787.out
sbatch_log/extract_features_684788.out
sbatch_log/extract_features_684789.out
sbatch_log/extract_features_684791.out
test_outputs/vit_mnist_grid_0.png
test_outputs/vit_mnist_grid_1.png
test_outputs/vit_mnist_grid_2.png
test_outputs/vit_mnist_grid_3.png
test_outputs/vit_mnist_grid_4.png
test_outputs/vit_mnist_grid_big.png
test_outputs/run_1/vit_mnist_grid_0.png
test_outputs/run_1/vit_mnist_grid_1.png
test_outputs/run_1/vit_mnist_grid_2.png
test_outputs/run_1/vit_mnist_grid_3.png
test_outputs/run_1/vit_mnist_grid_4.png
test_outputs/run_1/vit_mnist_grid_big.png
test_outputs/run_2/vit_mnist_grid_0.png
test_outputs/run_2/vit_mnist_grid_1.png
test_outputs/run_2/vit_mnist_grid_2.png
test_outputs/run_2/vit_mnist_grid_3.png
test_outputs/run_2/vit_mnist_grid_4.png
test_outputs/run_2/vit_mnist_grid_big.png
test_outputs/run_3/vit_mnist_grid_0.png
test_outputs/run_3/vit_mnist_grid_1.png
test_outputs/run_3/vit_mnist_grid_2.png
test_outputs/run_3/vit_mnist_grid_3.png
test_outputs/run_3/vit_mnist_grid_4.png
test_outputs/run_3/vit_mnist_grid_big.png
test_outputs/run_4/vit_mnist_grid_0.png
test_outputs/run_4/vit_mnist_grid_1.png
test_outputs/run_4/vit_mnist_grid_2.png
test_outputs/run_4/vit_mnist_grid_3.png
test_outputs/run_4/vit_mnist_grid_4.png
test_outputs/run_4/vit_mnist_grid_big.png
test_outputs/run_5_test/vit_mnist_grid_0.png
test_outputs/run_5_test/vit_mnist_grid_1.png
test_outputs/run_5_test/vit_mnist_grid_2.png
test_outputs/run_5_test/vit_mnist_grid_3.png
test_outputs/run_5_test/vit_mnist_grid_4.png
test_outputs/run_5_test/vit_mnist_grid_big.png
test_outputs/run_6_test/vit_mnist_grid_0.png
test_outputs/run_6_test/vit_mnist_grid_1.png
test_outputs/run_6_test/vit_mnist_grid_2.png
test_outputs/run_6_test/vit_mnist_grid_3.png
test_outputs/run_6_test/vit_mnist_grid_4.png
test_outputs/run_6_test/vit_mnist_grid_big_test.png
